<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <!-- Main Site Content here. -->
    <main>
        <h1>Hello World!</h1>
    </main>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/scripts.ejs') %>
</body>

<%- include('./partials/end.ejs') %>